.button {
    display: inline-block;
    background: #fff;
    margin: 0 0.25rem;
}

.button a {
    display: inline-block;
    border-radius: 5px;
    font-size: 0.5rem;
}

.button a.myinfo {
    width: 48.7px;
    height: 23.3px;
    line-height: 23.3px;
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.button a.logout {
    width: 48.7px;
    height: 23.3px;
    line-height: 23.3px;
    color: #7b7b7b;
    background: #fff;
    border: 1px solid #939393;
}